@model IEnumerable<HolidayApp.Core.Model.GeneralHoliday>
@using System.Globalization;
@{
    ViewBag.Title = "Index";
}
@section calendar {
   
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />

<script src="~/Scripts/fullcalendar.js"></script>
<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
                 
            
            events: [


				@foreach (var item in Model)
                {
                    String str = "{title: '" + item.Name + "', start: '" + string.Format("{0:yyyy-MM-dd}", item.StartDate) + "', end: '" + string.Format("{0:yyyy-MM-dd}", item.EndDate) + "'},";
     @Html.Raw(str)
        
            }
            ],eventColor: '#378006'

        });

    });

</script>
}
<h2>Calender</h2>
<div id='calendar' class="month-cal"></div>



