@using HolidayApp.Core.Helpers;
@{
    ViewBag.Title = "Index";
}
@section calendar {
 
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<script src="~/Scripts/fullcalendar.js"></script>
<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
           
            events: [
@{
    
  foreach(var item in ViewBag.GeneralHolidays){

      if (item.Type == "islamic-public-holiday")
      {

          item.StartDate = Helpers.IslamicToGeorgian(item.StartDate);
          item.EndDate = Helpers.IslamicToGeorgian(item.EndDate);
      }

      String str = "{title: '" + item.Name + "', start: '" + string.Format("{0:yyyy-MM-dd}", item.StartDate) + "', end: '" + string.Format("{0:yyyy-MM-dd}", item.EndDate) + "',color:'" + Helpers.GetHolidayTypeColor(item.Type) + "'},";
     @Html.Raw(str)
  }
  if(ViewBag.Holidays != null){
      foreach (var item2 in ViewBag.Holidays)
      {
          var color2 = (item2.Status == "pending" || item2.Status == null) ? "pending" : item2.Holidaytype;
          String str = "{title: '" + item2.Holidaytype + "', start: '" + string.Format("{0:yyyy-MM-dd}", item2.StartDate) + "', end: '" + string.Format("{0:yyyy-MM-dd}", item2.EndDate) + "', color:'" + Helpers.GetHolidayTypeColor(color2) + "'},";
     @Html.Raw(str)
     }  
   }
    
}]

        });

    });

</script>
}
<h2>Calendar</h2>
<div id='calendar' class="month-cal"></div>

   


